.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultDiv{
  width: 200px;
  height: 20px;
  text-align:center;
}
